.heading {
   text-align: justify;
  width: 800px;
    font-family: 'Times New Roman', Times, serif;
   line-height: 20px;
}
.container{ margin: 0 auto;
    padding: 100px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
     line-height: 20px;
    
  }
  .size{ 
    font-size: 30px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
     line-height: 20px;
    
  }
  .verticle-line {
    border-left: 4px solid #737373;
  
  height: auto;
  
  width: 800px;
text-align: justify;
font-family: 'Times New Roman', Times, serif;
 line-height: 20px;
}
.stylee{ 
    list-style-type: decimal;
    text-align: justify;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
     line-height: 20px;
}
.stile1{ 
  list-style-type: none;
  margin: 0;
  padding: 0;

   display: block;
  width: 120px;
  background-color: #dddddd
}
