.heading {
   text-align: justify;
  width: 800px;
    
  
}
.container{ margin: 0 auto;
    padding: 100px;}
  .size{ 
    font-size: 30px;
  }
  .verticle-line {
    border-left: 3px solid #737373;
  height: 80px;
  width: 800px;
text-align: justify;
}
.stylee{ 
    list-style-type: decimal;
}