
.about {margin-top: 50px;margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}



.about .content h3 {
  color: #222;
  font-size: 3rem;
  padding-top: 1rem;
}

.about .content p {
  color: #666;
  font-size: 1.8rem;
  line-height: 1.4;
  padding: 1rem 0;
}

.gallery .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 50px;
}

.gallery .box-container .box {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .box-container .box:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}




