body{
    margin-left: 300px;
    margin-right: 500px;
  
    font-size: 20px;
    
    color:
#333333;
display:
list-item;
font-family:
sans-serif;
font-size:
18px;
line-height:
31.5px;

text-align:
left;
}