.heading{
    position: relative;
  color: rgb(0, 0, 0);
   font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.ngay{
    position: absolute;
  bottom: 20px;
 
    border:1px solid rgb(255, 255, 255) ;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
  margin-left: 20px;
  width: max-content;
  font-weight: 500;
}
img{
   
    max-width: 400px;
    max-height:250px;
    
    vertical-align: middle;
    height: auto;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;   
}
.container{
    border:3px solid #f7f5f5 ;
      width: min-content;
      margin:0 auto;
      border-radius: 20px;
      background-color: rgb(252, 251, 251);
      box-shadow: #2b2a2a;
     
}
.tech{
    font-size:30px ;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    
}
.text{
    margin-left: 20px;
    font-size: 20px;
   
}
.tien{font-size: 25px;
    font-weight: 800;
 
    margin-left: 20px;

}
.call{
    border:1px solid #007bff;
margin-bottom: 25px;
margin-left: 20px;
margin-right: 20px;
border-radius: 10px;
font-size: 20px;
background-color: #007bff;
color: azure;
width: auto;
height: 30px;
text-align: center;
padding-top: 10px;

}
.call:hover{
    
    background-color: #0064cf;

}
.post-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
