

img {
   
  
  object-fit: cover;
  flex-shrink: 0;
    
    vertical-align: middle;
   height: 221.2px;
   width: 316px;
}


.container{
    
  width: min-content;
   
    margin:0 auto;
    
   border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-radius: 3px;
  
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;

    flex: 1;

  flex-direction: column;
}


.post-name{
    font-size: 1.2rem;
   color:  #464646;
        font-family: Roboto,sans-serif;
        margin-top: 0;
    margin-bottom: 1rem;
   text-align: justify;
   width: 100%;
   font-weight: 500;
  margin-bottom: 25px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.post-1{
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 1.5rem 0;
    margin-top: 16px ;


 
}
.post-2{
     display: flex;
    justify-content: space-between;
     color: #757575;
    font-size: 0.9rem;
    font-weight: lighter;
    width: 100%;
    margin-bottom: 16px;
    flex-wrap: wrap;
    padding: auto;
}
.list {
 
  display: flex;
  
  flex-wrap: wrap;
 padding-left: 365px;
  padding-right: 50px;
 margin-top: 20px;
    margin-bottom: 48px;
    margin-right: 20px;
    
    
}
.tech-card{
    margin: 35px ;

     border-radius: 3px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(calc(316px / var(--columns)) - var(--spacing));
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
}




a{
    text-decoration: none;
}


body{
  margin-left: 0px;
}


